<div class="content-wrapper" style="min-height: 1604.19px;">

  <section class="content-header">
  <div class="container-fluid">
  <div class="row mb-2">
  <div class="col-sm-6">
  <h1>Details</h1>
  </div>

  </div>
  </div>
  </section>

  <section class="content">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-3">

  <div class="card card-primary card-outline">
  <div class="card-body box-profile">
  <div class="text-center">
  <img class="profile-user-img img-fluid img-circle" src="/assets/image/avatar-icon-images-4.jpg" alt="User profile picture">
  </div>
  <h3 class="profile-username text-center">Nina Mcintire</h3>
  <p class="text-muted text-center">Software Engineer</p>
  <ul class="list-group list-group-unbordered mb-3">
  <li class="list-group-item " style="justify-content: center; display: flex;cursor: pointer;">
  <a class="text-center  text-grapes " href="#contact" data-toggle="tab" ><b>Contact</b> </a>
  </li>
  <li class="list-group-item" style="justify-content: center; display: flex;cursor: pointer;">
    <a class="text-center text-grapes" href="#address" data-toggle="tab"><b>Address</b> </a>
    </li>
  </ul>
  </div>
  </div>
  </div>
  <div class="col-md-9">
  <div class="card">
  <div class="card-body">
  <div class="tab-content">
  <div class="tab-pane active" id="contact">
   <p>
   <b> Phone:</b> (555) 539-1037
   </p>
   <p>
    <b>Email:</b> john.doe@example.com
   </p>

  </div>
  <div class="tab-pane " id="address">
   <p>795 Folsom Ave, Suite 600
    San Francisco, CA 94107</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  </div>




